# Internal OMOP CDM database password
POSTGRESQL_PASSWORD=abcitseasyas

# Internal Jupyterhub database password
JUPYTERHUB_POSTGRESQL_PASSWORD=123assimpleas

# Jupyterhub password for user login
JUPYTERHUB_PASSWORD=pass

# Github personal access token including the "repo:public_repo" scope
GITHUB_PAT=abcdef0123456789

# Internal docker-compose project name
COMPOSE_PROJECT_NAME=ohdsi-etl-docker
