# Docker image containing the actual ETL
ETL_IMAGE=thehyve/ohdsi-my-etl

# Internal OMOP CDM database password
# Use this with the postgres user to do any external actions
POSTGRESQL_PASSWORD=abcitseasyas

# Internal Jupyterhub database password
JUPYTERHUB_POSTGRESQL_PASSWORD=123assimpleas

# Jupyterhub password for user login
JUPYTERHUB_PASSWORD=pass

# Github personal access token including the "repo:public_repo" scope
# Create it at https://github.com/settings/tokens
GITHUB_PAT=abcdef0123456789

# Internal docker-compose project name
COMPOSE_PROJECT_NAME=ohdsi-etl-docker
